
.bg-nephritis {
  background: #ae8127;
}
.fg-white {
  color: #fff;
}

.with-before:before {
  content: "---";
}

.with-after:after {
  content: "***";
}

.test-first-letter:first-letter {
  font-size: 1.2em;
  color: #599;
}

.test-first-line:first-line {
  font-size: 1.2em;
  color: #559;
}
